<h1>Organization: <%= @organization.name %></h1>
<%= simple_form_for [@organization,@post] do |post| %>
  <p scope="col">
    <%= post.collection_select 'user_id', @organization.users.order(:name), :id, :name %>
  </p>
  <p scope="col">
    <%= post.collection_select 'text_post', @organization.posts.select(:text_post).distinct.order(:text_post),
                               :text_post, :text_post %>
  </p>
  <p scope="col">
    <%= post.collection_select 'status', @organization.posts.select(:status).distinct.order(:status),
                               :status, :status %>
  </p>
  <p scope="col"><%= post.button :submit , class: "btn btn-secondary", style: "margin-top: 15px" %></p>
<% end %>
<%= button_to "Delete", organization_post_path(@post),method: :delete, data: { confirm: 'Are you sure?' },
              class: "btn btn-secondary", style: "margin-right: 15px"%>