<h1>Organization: <%= @organization.name %></h1>
<%= form_with(model: @post, url: [@organization,@post]) do |post| %>

  <p scope="col">
    <%= post.collection_select 'user_id', @organization.users.order(:name), :id, :name %>
  </p>
  <p scope="col">
    <%= post.collection_select 'text_post', @organization.posts.select(:text_post).distinct.order(:text_post),
                               :text_post, :text_post %>
  </p>
  <p scope="col">
    <%= post.collection_select 'status', @organization.posts.select(:status).distinct.order(:status),
                               :status, :status %>
  </p>
  <p scope="col"><%= post.submit "Create", class: "btn btn-large btn-primary" %></p>

<% end %>
