<!DOCTYPE html>
<html>
  <head>
    <title>TaskLevelOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%=link_to  "StarWars", organizations_path(id:params[:id])%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Organizations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%- Organization.all.each do |org| %>
            <a class="dropdown-item" href="#"><%= link_to org.name ,organization_posts_path(org)%></a>
            <%end %>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-nav mr-auto">
    <% if I18n.locale == I18n.default_locale %>
      <%= link_to "English", { :locale=>'en' } %>

    <% else %>
      <%= link_to "Russian", { :locale=>'ru' } %>
    <%end%>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
<!--  <body>-->
<!--  <div class="jumbotron vertical-centre">-->
<!--    <div  class="container">-->
<!--      <h2 style="color: #B00100"></h2>-->
      <%#= yield %>
<!--    </div>-->
<!--  </div>-->
<!--  </body>-->



